.home
{

}
.meter
{

}
.contact
{
	
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #456;
}

li {
    float: left;
}

li a {
    display: block;
  
    text-align: center;
    padding: 14px 52px;
    text-decoration: none;
}
.vv
{
	background-repeat: no-repeat;
	background-size: 100%;
}