body{
	background:#FF8C00;
    color: #ffffff;
    font-family: "Monotype Corsiva";
}
div.panel-body{
	color: #000080;
}
footer{
	color:#ffffff;
}
a{
	color: yellow;
	text-decoration: underline;
	font-weight: 700;
}
a:hover{
	color: orange;
} 
